body {
    margin: 0;
    background: url(https://64.media.tumblr.com/07a310beeb4e4c7c54e535710e966fb0/tumblr_mu9dnxPrNZ1rykvvgo1_500.jpg);
    background-size:cover; 
    height: 100vh;
    
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
    
}
button{
    color:antiquewhite ; 
    background-color: cornflowerblue;
    outline: none;
    border-radius: 30px;
    border: none;
    text-align: center;
}